Django
Sphinx
django-cors-headers
django-extensions
djangorestframework

django-filter
chibi_django
chibi
django-mysql
djangorestframework-xml
djangorestframework-yaml
drf-nested-routers
dj-database-url
CMRESHandler
elasticsearch_dsl
djangorestframework-jwt
djangorestframework-simplejwt

celery

mysqlclient

gevent
gunicorn
setproctitle

factory-boy
flake8
pycodestyle
coverage

sphinx-intl
sphinx-rtd-theme
sphinxcontrib-httpdomain
sphinxcontrib-plantuml
# sphinxcontrib-spelling==4.0.1


vcrpy-unittest

ipython


certifi


django_rest_marshmallow
cryptography

marshmallow

