GitPython==2.1.5
Sphinx
bump2version==0.5.11
coverage==4.5.4
dateutils==0.6.6
factory-boy==2.9.2
flake8
pep8==1.7.0
pip==21.1
pyflakes
twine==1.14.0
vcrpy-unittest==0.1.6
wheel==0.33.6


jedi
pipdeptree
rope
